URxvt.scrollBar:false
URxvt.termName:	rxvt-256color

! Base16 Atelier Forest
! Scheme: Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest)

!#define base00 #1b1918
!#define base01 #2c2421
!#define base02 #68615e
!#define base03 #766e6b
!#define base04 #9c9491
!#define base05 #a8a19f
!#define base06 #e6e2e0
!#define base07 #f1efee
!#define base08 #f22c40
!#define base09 #df5320
!#define base0A #d5911a
!#define base0B #5ab738
!#define base0C #00ad9c
!#define base0D #407ee7
!#define base0E #6666ea
!#define base0F #c33ff3

! Base16 Brewer
! Scheme: Timothée Poisot (http://github.com/tpoisot)

!#define base00 #0c0d0e
!#define base01 #2e2f30
!#define base02 #515253
!#define base03 #737475
!#define base04 #959697
!#define base05 #b7b8b9
!#define base06 #dadbdc
!#define base07 #fcfdfe
!#define base08 #e31a1c
!#define base09 #e6550d
!#define base0A #dca060
!#define base0B #31a354
!#define base0C #80b1d3
!#define base0D #3182bd
!#define base0E #756bb1
!#define base0F #b15928


! Base16 Twilight
! Scheme: David Hart (http://hart-dev.com)

!#define base00 #1e1e1e
!#define base01 #323537
!#define base02 #464b50
!#define base03 #5f5a60
!#define base04 #838184
!#define base05 #a7a7a7
!#define base06 #c3c3c3
!#define base07 #ffffff
!#define base08 #cf6a4c
!#define base09 #cda869
!#define base0A #f9ee98
!#define base0B #8f9d6a
!#define base0C #afc4db
!#define base0D #7587a6
!#define base0E #9b859d
!#define base0F #9b703f

! Base16 Bright
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #1b1b1b
#define base01 #303030
#define base02 #505050
#define base03 #b0b0b0
#define base04 #d0d0d0
#define base05 #e0e0e0
#define base06 #f5f5f5
#define base07 #ffffff
#define base08 #fb0120
#define base09 #fc6d24
#define base0A #fda331
#define base0B #a1c659
#define base0C #76c7b7
#define base0D #6fb3d2
#define base0E #d381c3
#define base0F #be643c

! Base16 Isotope
! Scheme: Jan T. Sott

!#define base00 #000000
!#define base01 #404040
!#define base02 #606060
!#define base03 #808080
!#define base04 #c0c0c0
!#define base05 #d0d0d0
!#define base06 #e0e0e0
!#define base07 #ffffff
!#define base08 #ff0000
!#define base09 #ff9900
!#define base0A #ff0099
!#define base0B #33ff00
!#define base0C #00ffff
!#define base0D #0066ff
!#define base0E #cc00ff
!#define base0F #3300ff


*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
